/*
.ytp-gradient-bottom is a semi-transparent backdrop under .ytp-chrome-bottom
Its sizing is redundant with .ytp-chrome-bottom therefore subject to inconsistency due to changes on youtube's CSS and requires continous maintenance.
Hiding .ytp-gradient-bottom and adding a background to .ytp-chrome-bottom is more reliable in the long term.
*/

/* Seekbar (when visible) gradient shadow is only as high as the seekbar instead of darkening the bottom 1/3 of the video */
/* Copied values from class .ytp-gradient-bottom in www-player.css */
.ytp-gradient-bottom {
  padding-top: 10px;
  height: 48px !important; /* override style attribute */
  background-image: linear-gradient(to top, rgb(0 0 0 / 70%), rgb(0 0 0 / 0%)) !important;
}
.ytp-small-mode .ytp-gradient-bottom {
  height: 36px !important; /* override style attribute */
}
.ytp-embed .ytp-gradient-bottom {
  height: 40px !important; /* override style attribute */
}
.ytp-embed.ytp-embed-mobile .ytp-gradient-bottom,
.ytp-embed.ytp-embed-mobile.ytp-small-mode .ytp-gradient-bottom {
  height: 48px !important; /* override style attribute */
}
.ytp-big-mode .ytp-gradient-bottom {
  height: 54px !important; /* override style attribute */
  padding-top: 4px;
}


